<%- include('./meta') %>


<footer>
    <h3>ProtectionPlus Bot</h3>
    <p>Technical Support</p>
    <div class="icons">
      <a href="#"><i class="icon fa-brands fa-facebook"></i></a>
      <a href="#"><i class="icon fa-brands fa-instagram"></i></a>
      <a href="#">  <i class="icon fab fa-discord"></i></a>

  </footer>