<%- include('./meta') %>
  <body>
    <main>
      <!-- Navigation -->
      <nav>
        <a href="/" class="a7a">
        <i class="fa-solid fa-computer logo" style="position: relative; top: 21px;"></i><p style="color: #fff; position: relative; left: 100px; font-size: 30px; top: -20px;">ProtectionPlus Bot</p>
    </a>
        <ul class="nav-items">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/Commands" class="nav-link">Commands</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="color: rgb(255, 187, 0);">Premier</a>
          </li>
        </ul>
        <% if (user) { %>
            <a href="/dashboard" class="cta dark" style="text-decoration: none;">Dashboard</a>
            
            <% } else { %>
        <a href="/login" class="cta dark" style="text-decoration: none;">Login</a>
        <% } %>
        <i id="mobile-toggle" class="fa-solid fa-bars"></i>
      </nav>

  
    <!-- Footer -->

    
  </body>
</html>
