<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your website description goes here">
    <meta property="og:title" content="Your Website Title">
    <meta property="og:description" content="Your website description goes here">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/874557276692836382/9080414c585da45c93415cd71ff11ade.jpg?size=1024">
    <meta property="og:url" content="Your website URL">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/874557276692836382/9080414c585da45c93415cd71ff11ade.jpg?size=1024" type="image/x-icon">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>ProtectionPlus Bot</title>
</head>
